page-home {
    .master{
        background-color:#486B00 ;
    }
    #standout{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 180%;
        color: black;
    }

        #anotherone{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 140%;
        color:black;
    }
}
